HELP.md
**/target/**
**/.DS_Store
!.mvn/wrapper/maven-wrapper.jar
*.log
/Dockerfile
config/pom.properties
config/git.properties
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

.vscode/
/code-generator/
